.productDetailContainer{
    width:500px;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top:15px;
    padding-bottom:15px;
}
.productDetailContainer img{
    border-radius:5px;
    box-shadow: 5px 5px 5px black;
    width:300px;
}